
body {
    background-color: #05072a;
    color: white;
    padding: 10px;
    text-align: center;

    /* border around body */
    border: 10px solid #4e54c8;
    border-radius: 10px;
    margin: 0;
}

/* increase size of h1 */
h1 {
    font-size: 50px;
}

.back-button {
    color: white;
    text-align: left;
    padding: 15px;
}

/* style class gallery for images to scroll horizontal 
   start with first image in the middle of screen, and click on the one to the right to move it to hte middle*/
.pongImg {
    display: grid;
    text-align: center;
    /* round edges */
    border-radius: 10px;

    /* opacity: 0; */
}

.gallery {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fa-github:hover,.fa-linkedin:hover {
    color: #4e54c8;
}

.fab {
    color: white;
    font-size: 65px;
}